body {
    background-color: rgb(208, 199, 185);
}

#header {
    display: flex;
    justify-content: center;
}

.rules {
    display: flex;
    justify-content: center;
}

h3 {
    text-align: center;
}

li {
    font-size: 20px;
}

button {
    display: flex;
    justify-content: center;
    background-color: rgb(71, 109, 203);
    scale: 2;
}

#questions {
    display: none;
}

#q2 {
    display: none;
}

#q3 {
    display: none;
}

#q4 {
    display: none;
}