body {
    background-color: rgb(208, 199, 185);
}

#header {
    display: flex;
    justify-content: center;
}

.rules {
    display: flex;
    justify-content: center;
}

h3 {
    text-align: center;

}


li {
    font-size: 20px;
}

button {
    display: flex;
    justify-content: center;
    background-color: rgb(71, 109, 203);
    scale: 2;
}

#questions {
    display: none;
}

#question_title {
    font-size: 30px;
}

#q2 {
    display: none;
}

#q3 {
    display: none;
}

#q4 {
    display: none;
}

.title {
    margin-bottom: 20px;
}

.question_section {
    display: flex;
    flex-direction: column;
}

.choices {
    display: flex;
    flex-direction: column;
    width: 10%;
    margin-left: 50px;
}

.btn {
    margin-top: 30px;
}

/* #initals_input {
    position: fixed;
    margin-left: 43%;
} */

#highscore {
    display: flex;
    flex-direction: column;
    /* max-width: 20%; */
    align-items: center;
}